body {
  background-color: rgb(151, 213, 255);
  background-image: url('./images/vivid-bg.jpg');
  background-size: cover;
}

h1 {
  color: rgb(24, 86, 69);
}

p, div {
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.edit-btn, .delete-btn, #add-todo {
  margin:1rem;
  
}


/* CSS */
.edit-btn, .delete-btn, #add-todo, #add-project{
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  font-size: 1rem;
  height: 2.5em;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.edit-btn:active, .delete-btn:active, #add-todo:active, #add-project:active {
  border-color: #4a4a4a;
  outline: 0;
}

.edit-btn:focus, .delete-btn:focus, #add-todo:focus, #add-project:focus {
  border-color: #485fc7;
  outline: 0;
}

.edit-btn:hover, .delete-btn:hover, #add-todo:hover, #add-project:hover {
  border-color: #b5b5b5;
}

.edit-btn:focus:not(:active), .delete-btn:focus:not(:active), #add-todo:focus:not(:active), #add-project:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


#task-form {
  display: none;
}

#project-form {
  display: none;
}


/* Initially hide the form and the overlay */
.form-layout {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white; /* Set the background color of the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Set a z-index just below the form */
}

#overlay.active, #editing-form.active{
  display: block;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 1em;
  border-radius: 10px;
}

.todo-right-div {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;

}

.todo-left-div {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  align-items: center;
}

.side-bar > * {
  display: grid;
  margin: 2rem;
}

#project-title {
  font-size: 1.2rem;
  font-weight: 600;
}

#side-bar-content > * {
  margin-top: .6rem;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "header header"
  "sidebar main"
  "footer footer";
}

.header, .side-bar, .main-content, .footer, .form-layout {
  background-color: rgba(255, 255, 255, 0.65);
  margin: 1rem;
  border-radius: 20px;
}

.header {
  display:flex;
  grid-area: header;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin: 0px;
}

.side-bar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main;
}

.main-content > * {
  margin: 2rem;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin: 0px;
}

